<template>
 <div class="content">
    <demo-component></demo-component>
	</div>
</template>
<script>

export default {
  name: 'home',
  layout: 'home',

  data () {
    return {
    }
  }
}
</script>
