<template>
  <div class="mw-frontend">
    <tv-header></tv-header>
    <nuxt></nuxt>
    <tv-footer></tv-footer>
  </div>
</template>
<script>
import Header from './includes/Header.vue'
import Footer from './includes/Footer.vue'

export default {
  components: {
    'tv-header': Header,
    'tv-footer': Footer
  }
}
</script>
